*{
    margin: 0;padding: 0;
}
#searchs{
    position: absolute;
    border: none;
    margin: 10px;
    background-color: #333634;
    border-bottom: 2px solid rgb(11, 231, 202);
    border-radius: 20px;
    padding: 5px;
    color: white;
    width: 250px;
    text-align: center;
}
#heading{
    text-align: center;
    justify-self: center;
    text-decoration-line: underline;
}
 #root{
     margin: auto;
justify-content: center;
     display: flex;  
flex-wrap: wrap;
margin-top: 50px;
 }

#cardout{
 margin: 20px;
 height: 300px;
 width: 250px;
 background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #6e5bd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 4%;
 
}
#cardout:hover{
 box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
 background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

#card{
 height: 250px;
 width: 200px;
 background-color: white;
 margin: auto;
 background: #ED4264;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 border-radius: 3px;
 overflow: hidden;
 box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
position: relative;
top: 25px;
display: flex;
border-radius: 4%;


 

}

#card:hover{
 transform: scale(1.1);
 transition: 0.3s;
 transition: ease-in-out  0.3s;
 background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
}


#left{
 border: 2px solid transparent;
 width: 60%;
 text-align: center;
 margin: auto;

}
#right{
 width: 40%;
}
#des{
    color: #c000c7;
}
#leftpart{
 display: block;
 /* border: 2px solid rgb(7, 7, 7); */
 height: 33.3%;

text-align: center;

}
#left h4 {
 margin-bottom: 70px;
 margin-top: -35px;
 justify-self: center;
}

#leftpart span {
 position: relative;
 top: 42%;
}
#watch,#download{
 /* border: none; */
 border-radius: 2%;
 padding: 3px;
border: 2px solid transparent;

 
}
#watch{
margin-bottom: 30px;
 padding: 5px;
}
#download{
 padding: 5px;
}
#download:hover,#watch:hover{
transform: scale(0.9);
background-color: rgb(67, 238, 67);
border: 2px solid black;
z-index: 999;
color: rgb(26, 168, 224);
transition: 0.3s;
}
html,
body {
 margin: 0;
 padding: 0;
 
 align-items: center;
}




.button-71 {
background-color: #0078d0;
border: 0;
border-radius: 56px;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
font-size: 18px;
font-weight: 600;
outline: 0;
padding: 16px 21px;
position: relative;
text-align: center;
text-decoration: none;
transition: all .3s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-71:before {
background-color: initial;
background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
border-radius: 125px;
content: "";
height: 50%;
left: 4%;
opacity: .5;
position: absolute;
top: 0;
transition: all .3s;
width: 92%;
}

.button-71:hover {
box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
transform: scale(1.05);
}

@media (min-width: 768px) {
.button-71 {
 padding: 16px 48px;
}
}
a{
 text-decoration: none;
 text-decoration-line: none;
 color: white;
}
